<ion-tabs color="dark">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Notes" tabIcon="paper"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Camera" tabIcon="camera"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Info"  tabIcon="information"></ion-tab>
</ion-tabs>
