<ion-header>

  <ion-navbar>
     <button ion-button color="Light" outline full (click)="addNote()">Add notes</button>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <div class="main-content" (swipe)="swipe($event)">
      <ion-list>
        <button ion-item class="transparentBlack" *ngFor="let note of notes | async" (click)="getNote(note.createDate)">
          <span class="date">{{note.date}}</span>  {{note.title}}
        </button>
      </ion-list>
    </div>
</ion-content>
