<ion-header>
  <ion-navbar>
    <ion-title>Add notes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form  class="transparentBlack" [formGroup]="formGroup" (ngSubmit)="saveNote(formGroup.value)">
    <ion-item  class="transparentBlack">
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat=" D/M/YYYY H:m" pickerFormat="DD MMM YYYY  H m" max="2997" formControlName="date"></ion-datetime>
    </ion-item>
    <ion-item  class="transparentBlack">
      <ion-label>Title</ion-label>
      <ion-input type="text" name="title" formControlName="title"></ion-input>
    </ion-item >
    <ion-item  class="transparentBlack">
      <ion-label>Notes</ion-label>
      <ion-input type="text" name="content" formControlName="content"></ion-input>
    </ion-item>
    <button ion-button type="submit" top block full [disabled]="!formGroup.valid">Save Note</button>
  </form>
</ion-content>
