<ion-header>
  <ion-navbar>
    <button ion-button color="danger" outline round (click) = "deleteNote(note.createDate)">Delete Notes</button>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card  class="transparentBlack">
  <ion-card-content>
    <div class="title">{{note.title}}</div>
    <div class="note-date">{{ note.date  }}</div>
    <hr>
    <div>{{note.content}}</div>
  </ion-card-content>

</ion-card>
</ion-content>
