<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="main-content" (swipe)="swipe($event)">
  <br>
  <button ion-button color="dark" full icon-left (click)="toggelAppPic()">
    <ion-icon name="images"> Toggle Pic</ion-icon><!--photos-->
  </button>

      <button ion-button color="dark" full icon-left (click)="vibrate()">
        <ion-icon name="musical-notes"> Vibrate</ion-icon><!--photos-->
      </button>

      <ion-fab bottom center>
          <button ion-button color="light" bottom icon-only round (click)='toggleFlashlight()'> <!--{{isFlashLightOn ? 'dark' : 'light'}}-->
              <ion-icon name="{{isFlashLightOn ? 'ios-flash' : 'ion-flash-outline'}}"></ion-icon>
          </button>
      </ion-fab>
    </div>
</ion-content>
