<ion-header>
  <ion-navbar>
    <ion-title>Information</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="main-content" (swipe)="swipe($event)">
        <ion-card  class="transparentBlack">
            <ion-card-content>
                <div color='' class='Size25 center'>Level: {{battLevel}}%</div>
                <div class='center'>{{battStatus}}</div>
                <div class='Size25 red center'>{{color}}</div>
                <hr>
                <div color='' class='Size25 center'>Location</div>
                Latitude: {{latitude}}
                <br>
                Longitude: {{longitude}}
            </ion-card-content>
        </ion-card>
        <!--<ion-row>
          <ion-col col-12>
            <button ion-button full round color='dark' (click) = "checkBattStatus()">Watch</button>
          </ion-col>
          !--<ion-col col-6>
            <button ion-button full color='light' (click) = "stopBattCheck()">Stop</button>
          </ion-col>--
        </ion-row>-->
    </div>
</ion-content>
