page-battery-status {
  .noteClass{
    background-color: rgba(0, 0, 0, 0.459);
  }
  .Size25{
    font-size: 25px;

  }
  .center{
    text-align: center;
  }
  .red{
    color: red;
  }
  .scroll-content {
    background-color: transparent;
  }
}
