.bg2{
  ion-content{
    background: no-repeat fixed center;
    background-size: cover;
    background-image: url('../../assets/imgs/bg2.jpg');
    background-color: #090f2f;
  }
/*  .title{
    color: #000;
  }
  .toolbar-background{
    background-color: #000
  }*/
}

