.bg1{
  ion-content{
    background: no-repeat fixed center;
    background-size: cover;
    background-image: url('../../assets/imgs/bg1.jpg');
    background-color: #090f2f;
  }

  /*.tabs-title{
    color: #fff;
  }
  .hearder .toolbar-background{
    border-color: #fff;
    background-color: #090f2f;
  }*/
}
