<ion-header>

  <ion-navbar>
    <ion-title>camera</ion-title><BR>

  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="main-content" (swipe)="swipe($event)">
      <ion-card class='transparentBlack'>
        <ion-card-content class='transparentBlack'>
          <img [src]="base64Image" *ngIf="base64Image"/>
          <button ion-button full round (click)="takePicture()">Take a Picture</button><hr>
        </ion-card-content>
      </ion-card>
    </div>
</ion-content>
